#inputsContainer {
  position: absolute;
  width: 70vh;
  margin-left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 10;
  &h3 {
    font-size: 18px;
  }
  .selectFrame {
    list-style-type: none;
    max-width: 250px;
    border: none;
    font-size: 14px;
    display: block;
    .optionFrame {
      position: relative;
      display: block;
      font-size: 14px;
      background-color: white;
      width: 113%;
      min-height: 30px;
      text-align: left;
      border: none;
      margin-left: -30px;
      &:hover {
        background-color: rgb(199, 198, 198);
        cursor: pointer;
      }
      &:focus {
        background-color: rgb(199, 198, 198);
      }
    }
  }
  .showOptionFrame {
    display: block;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 36px;
    text-align: left;
    border: none;
    margin: 0 0 -10px 10px;
    &:hover {
      background-color: rgb(199, 198, 198);
      cursor: pointer;
    }
  }
}
